# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.suo

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.bin
*.obj
*.vs

/MyRedis.Demo1/.vs
/MyRedisDemo1/.vs
/MyRedis.Demo1/.vs/MyRedisDemo/
/MyRedis.Demo1/.vs/MyRedisDemo/DesignTimeBuild/
/MyRedis.Demo1/.vs/MyRedisDemo/DesignTimeBuild/*.dtbcache.v2.*
/MyRedis.Demo1/.vs/MyRedisDemo/v16/
/MyRedisDemo/bin/Debug/net5.0
/MyRedisDemo/obj
/RedisLibrary/bin/Debug/net5.0
/RedisLibrary/obj
/MyRedisEntity/obj
/MyRedisEntity/bin/Debug/net5.0

/RedisPublish/obj
/RedisSub/obj
/RedisPublish/bin/Debug/net5.0
/RedisSub/bin/Debug/net5.0
/MyRedisMq/obj
/MyRedisMq/bin/Debug/net5.0
/MyRedisRmPoints/bin/Debug/net5.0
/MyRedisRmPoints/obj
/MyRedisRmSms/bin/Debug/net5.0
/MyRedisRmSms/obj/Debug/net5.0
/MyRedisRmSms/obj
/MyRedisRmUpSystem/obj
/MyRedisRmUpSystem/bin/Debug/net5.0
/MyRedisPubSub/bin/Debug/net5.0
/MyRedisPubSub/obj
/MyRedisPubSubSms/obj
/MyRedisPubSubSms/bin/Debug/net5.0
/MyRedisPubSubActivity/obj/Debug/net5.0
/MyRedisPubSubActivity/obj
/MyRedisPubSubTeam/bin/Debug/net5.0
/MyRedisPubSubTeam/obj
/MyRedisPubSubActivity/bin/Debug/net5.0
/MyRedisPubSubUser/bin/Debug/net5.0
/MyRedisPubSubUser/obj
.vs/MyRedisDemo/v16/.suo
.vs/MyRedisDemo/v16/.suo
